@{
    ViewBag.Title = "Home Page";
}


<!-- ========== Hero Cover ========== -->
<div class="fs-slider-hero">
    <div class="fs-slider">

        <!-- Slide 1 -->
        <div class="fs-slider-item fs-slide-1">
            <div class="bg-overlay">

                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                    <div class="hero-content">

                        <h1 class="hero-lead wow fadeInUp" data-wow-duration="2s">Buy Anything<br> From Sylhet</h1>
                        <h4 class="h-alt hero-subheading wow fadeIn" data-wow-delay=".5s" data-wow-duration="1.5s">Your friends will bring it you.</h4>
                        @*<a href="#services" class="btn wow fadeIn" data-wow-delay=".7s" data-wow-duration="2s">Learn More</a>*@
                    </div>
                </div>
            </div><!-- / .bg-overlay -->
        </div><!-- / .fs-slide-1 -->
        <!-- Slide 2 -->
        <div class="fs-slider-item fs-slide-2">
            <div class="bg-overlay">

                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                    <div class="hero-content">

                        <h1 class="hero-lead">Buy<br> your<br> books<br> easily</h1>
                        @*<h4 class="h-alt hero-subheading wow fadeInUp">photography / creative / freelancer / portfolio</h4>
                        <a href="#services" class="btn btn-light wow fadeInDown">Learn More</a>*@
                    </div>
                </div>
            </div><!-- / .bg-overlay -->
        </div><!-- / .fs-slide-2 -->
        <!-- Slide 3 -->
        <div class="fs-slider-item fs-slide-3">
            <div class="bg-overlay">

                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                    <div class="hero-content">

                        <h3></h3>
                        <h1 class="hero-lead">Help <span>others to</span>  get help</h1>

                    </div>
                </div>
            </div><!-- / .bg-overlay -->
        </div><!-- / .fs-slide-3 -->
        <!-- Slide 4 -->
        <div class="fs-slider-item fs-slide-4">
            <div class="bg-overlay">

                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                    <div class="hero-content">

                        <h1 class="hero-lead wow fadeInUp" data-wow-duration="3s">Improve your performance</h1>
                        <h4 class="h-alt hero-subheading wow fadeIn" data-wow-delay="1s" data-wow-duration="1.5s">by not wasting times in buying from distant places</h4>
                        
                    </div>
                </div>
            </div><!-- / .bg-overlay -->
        </div><!-- / .fs-slide-4 -->
    </div><!-- / .fs-slider -->
    <!-- Scroller -->
</div><!-- / .fs-slider-hero -->



            <!-- ========== Feature - Cards 2 ========== -->
            <div id="services" class="gray-bg">
                <section class="container section ft-cards-2">

                    <header class="sec-heading">
                        <h2>What "Bring My Book" do</h2>
                        <span class="subheading">
                            Its basically creates community of classmates, teachers, Batchmates<br>
                            to help each other in buying books, rare stationary items &amp; other<br />
                            useful things that is needed in study and people have to go dhaka or distant<br>
                            to buys these things which waste a lot of time.
                                
                        </span>
                    </header>
                    
                </section><!-- / .container -->
            </div><!-- / .gray-bg -->





            <!-- ========== Team ========== -->

            <div id="about" class="gray-bg">
                <section class="container section team-3col">
                    <div class="row">

                        <header class="sec-heading">
                            <h2>Meet the team</h2>
                            <span class="subheading">We are creative professionals</span>
                        </header>
                        <!-- Member 1 -->
                        <div class="col-lg-4 col-md-6 mb-sm-50">
                            <div class="t-item wow fadeIn" data-wow-duration="1s">
                                <!-- Image -->
                                <div class="t-image">
                                    <img src="assets/images/team-1.jpg" alt="Team Member" class="img-responsive">
                                    <div class="t-description">
                                        <div class="content-wrapper">
                                            <h4 class="h-alt">Hello!</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Info -->
                                <div class="t-info">
                                    <h4 class="t-name">Philip Lee</h4>
                                    <span class="t-role">CEO &amp; Founder</span>
                                    <ul class="social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- / .t-item -->
                        </div><!-- / .col-md-4 -->
                        <!-- Member 2 -->
                        <div class="col-lg-4 col-md-6 mb-sm-50">
                            <div class="t-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                                <!-- Image -->
                                <div class="t-image">
                                    <img src="assets/images/team-2.jpg" alt="Team Member" class="img-responsive">
                                    <div class="t-description">
                                        <div class="content-wrapper">
                                            <h4 class="h-alt">Hello!</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Info -->
                                <div class="t-info">
                                    <h4 class="t-name">Carol Greene</h4>
                                    <span class="t-role">Art Director</span>
                                    <ul class="social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- / .t-item -->
                        </div><!-- / .col-md-4 -->
                        <!-- Member 3 -->
                        <div class="col-lg-4 col-md-6 mb-sm-50">
                            <div class="t-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
                                <!-- Image -->
                                <div class="t-image">
                                    <img src="assets/images/team-3.jpg" alt="Team Member" class="img-responsive">
                                    <div class="t-description">
                                        <div class="content-wrapper">
                                            <h4 class="h-alt">Hello!</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Info -->
                                <div class="t-info">
                                    <h4 class="t-name">Tyler Owens</h4>
                                    <span class="t-role">Lead Designer</span>
                                    <ul class="social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- / .t-item -->
                        </div><!-- / .col-md-4 -->

                    </div><!-- / .row -->
                </section><!-- / .contianer -->
            </div><!-- / .gray-bg -->
            @*<div class="jumbotron">
                    <h1>ASP.NET</h1>
                    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h2>Getting started</h2>
                        <p>
                        </p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Get more libraries</h2>
                        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Web Hosting</h2>
                        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                    </div>
                </div>*@
