@{
    ViewBag.Title = "Home Page";
}


<!-- ========== Hero Cover ========== -->
<div class="fs-slider-hero">
    <div class="fs-slider">

        <!-- Slide 1 -->
        <div class="fs-slider-item fs-slide-1">
            <div class="bg-overlay">

                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                    <div class="hero-content">

                        <h1 class="hero-lead wow fadeInUp" data-wow-duration="2s">Beautifully<br> Crafted</h1>
                        <h4 class="h-alt hero-subheading wow fadeIn" data-wow-delay=".5s" data-wow-duration="1.5s">Multipage &amp; Onepage HTML5 Templates</h4>
                        <a href="#services" class="btn wow fadeIn" data-wow-delay=".7s" data-wow-duration="2s">Learn More</a>
                    </div>
                </div>
            </div><!-- / .bg-overlay -->
        </div><!-- / .fs-slide-1 -->
        <!-- Slide 2 -->
        <div class="fs-slider-item fs-slide-2">
            <div class="bg-overlay">

                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                    <div class="hero-content">

                        <h1 class="hero-lead">Follow<br> your<br> passion</h1>
                        <h4 class="h-alt hero-subheading wow fadeInUp">photography / creative / freelancer / portfolio</h4>
                        <a href="#services" class="btn btn-light wow fadeInDown">Learn More</a>
                    </div>
                </div>
            </div><!-- / .bg-overlay -->
        </div><!-- / .fs-slide-2 -->
        <!-- Slide 3 -->
        <div class="fs-slider-item fs-slide-3">
            <div class="bg-overlay">

                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                    <div class="hero-content">

                        <h4 class="h-alt hero-subheading">corporate / agency / freelancer / portfolio</h4>
                        <h1 class="hero-lead">Make <span>things</span> happen</h1>

                        <a href="#services" class="btn-light">Learn More</a>
                    </div>
                </div>
            </div><!-- / .bg-overlay -->
        </div><!-- / .fs-slide-3 -->

    </div><!-- / .fs-slider -->
    <!-- Scroller -->
</div><!-- / .fs-slider-hero -->

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@